.menuWrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    top: 0%;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 690;
    overflow-y: scroll;
    scrollbar-width: none;
    transform: translateX(100%);
    // .sidebar-logo {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-family: 'Balsamiq Sans', cursive;
    //     font-size: 33px;
    //     height: 68px;  
    //     border-bottom: 0.5px solid rgba(155, 155, 155, 0.4);
    //     cursor: pointer;
    // }
}

.menuWrapperOpen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    top: 0%;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 690;
    overflow-y: scroll;
    scrollbar-width: none;
    transform: translateX(-90%);
    -webkit-animation: menuOpen 1s ease;
    -moz-animation: menuOpen 1s ease;
    -o-animation: menuOpen 1s ease;
    animation: menuOpen 1s ease;
    // .sidebar-logo {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-family: 'Balsamiq Sans', cursive;
    //     font-size: 33px;
    //     height: 68px;  
    //     border-bottom: 0.5px solid rgba(155, 155, 155, 0.4);
    //     cursor: pointer;
    // }
}

.menuWrapperClose {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    top: 0%;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 690;
    overflow-y: scroll;
    scrollbar-width: none;
    transform: translateX(100%);
    -webkit-animation: menuClose 1s ease;
    -moz-animation: menuClose 1s ease;
    -o-animation: menuClose 1s ease;
    animation: menuClose 1s ease;
    // .sidebar-logo {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-family: 'Balsamiq Sans', cursive;
    //     font-size: 33px;
    //     height: 68px;  
    //     border-bottom: 0.5px solid rgba(155, 155, 155, 0.4);
    //     cursor: pointer;
    // }
}

.headerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.line {
    width: 100%;
    border-top: 1px solid rgba(rgb(190, 190, 190), 0.2);
}

// .sidebar-open::-webkit-scrollbar {
//     display: none;
// }

// .sidebar-close::-webkit-scrollbar {
//     display: none;
// }

@-webkit-keyframes menuOpen {
    from{transform: translateX(100%);}
    to{transform: translateX(-90%);}
}
@-moz-keyframes menuOpen {
    from{transform: translateX(100%);}
    to{transform: translateX(-90%);}
}
@-o-keyframes menuOpen {
    from{transform: translateX(100%);}
    to{transform: translateX(-90%);}
}
@keyframes menuOpen {
    from{transform: translateX(100%);}
    to{transform: translateX(-90%);}
}

@-webkit-keyframes menuClose {
    from{transform: translateX(-90%);}
    to{transform: translateX(100%);}
}
@-moz-keyframes menuClose {
    from{transform: translateX(-90%);}
    to{transform: translateX(100%);}
}
@-o-keyframes menuClose {
    from{transform: translateX(-90%);}
    to{transform: translateX(100%);}
}
@keyframes menuClose {
    from{transform: translateX(-90%);}
    to{transform: translateX(100%);}
}
