.toolbarContainerWrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    .icon {
        border-right: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .toolbarWrapper {
        width: calc(100% - 80px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 30px 10px 0px;
        .toolbarLeftPartWrapper {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            .searchFieldWrapper {
                height: 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // border: 1px solid rgb(223, 223, 223);
                border-radius: 20px;
                // background-color: rgb(236 240 250);
                padding: 0 15px 0 15px;
                .searchField {
                    // background-color: rgb(236 240 250);
                    font-size: 13px;
                    // color: rgb(165, 165, 165);
                    border-radius: 20px;   
                    border: none;           // margin: 10px
                    &:focus {
                        outline: none;
                        // border: 1px solid rgba(155, 155, 155, 0.4);
                    }
                }
            }
        }
        .toolbarRightPartWrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            .toolbarItem {
                padding: 10px;
                cursor: pointer;
                .toolbarImageWrapper{
                    border-radius: 50%;
                    background-color: rgb(236 240 250);
                    >img {
                        filter: contrast(160%);
                        width: 100%;
                        border-radius: 50%;
                        opacity: 0.8;
                    }
                }
            }
            .langDropdownWrapper {
                position: fixed;
                top: 60px;
                right: 310px;
                width: 150px;
                height: 170px;
                // border: 1px solid rgb(223, 223, 223);
                border-radius: 7px;
                // background-color: white;
                box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
                overflow-y: scroll;
                scrollbar-width: none;
                .langWrapper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 5px 10px 5px 10px;
                    cursor: pointer;
                    .langName {
                        padding-left: 10px;
                        font-size: 12px;
                        font-family: "Open Sans", sans-serif;
                    }
                    // &:hover {
                    //     background-color: rgb(236 240 250);
                    // }
                }
            }
            .messagesDropdownArrow {
                position: fixed;
                top: 60px; //60
                right: 235px;
                width: 300px;
                height: 340px;
                border-radius: 7px;
                box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
                .messagesDropdownWrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    border-radius: 7px;
                    border: none;
                    .messagesHeader {
                        position: fixed;
                        display: flex;
                        width: 298px;
                        justify-content: space-around;
                        align-items: start;
                        background-color: rgb(1, 98, 232);
                        padding: 15px;
                        border-top-right-radius: 7px;
                        border-top-left-radius: 7px;
                        z-index: 1;
                        .header {
                            font-size: 14px;
                            font-weight: bold;
                            font-family: "Open Sans", sans-serif;
                        }
                        .unreadMessages {
                            font-size: 11px;
                            font-family: "Open Sans", sans-serif;
                        }
                        .headerBtn {
                            border-radius: 15px;
                            background-color: rgb(251, 188, 11);
                            font-weight: bold;
                            font-size: 11px;
                            font-family: "Open Sans", sans-serif;
                            padding: 2px 6px 2px 6px;
                            color: rgb(53, 53, 53);
                            cursor: pointer;
                        }
                    }
                    .messagesWrapper {
                        position: relative;
                        .messageWrapper {
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            padding: 10px;
                            cursor: pointer;
                            .photo {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                            .fullname {
                                font-size: 14px;
                                font-family: "Open Sans", sans-serif;
                            }
                            .message {
                                font-size: 11px;
                                font-family: "Open Sans", sans-serif;
                                color: rgb(128, 128, 128);
                            }
                            .date {
                                font-size: 11px;
                                font-family: "Open Sans", sans-serif;
                                color: rgb(128, 128, 128);
                                font-weight: bold;
                            }
                        }
                    }
                   
                }
            }
            
           
            .messagesDropdownArrow:before {
                bottom: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .messagesDropdownArrow:after {
                border-bottom-color: #ffffff;
                border-width: 19px;
                left: 96%;
                margin-left: -19px;
                background-color: rgb(1, 98, 232);
              }
              
              .messagesDropdownArrow:before {
                border-bottom-color: rgb(1, 98, 232);
                border-width: 8px;
                left: 96%;
                margin-left: -20px;
              }
        }
    }
}



:root[data-theme="dark"] .toolbarContainerWrapper {
    background-color: rgb(25, 32, 47);
}

:root[data-theme="light"] .toolbarContainerWrapper {
    background-color: white;
}

:root[data-theme="dark"] .langDropdownWrapper {
    background-color: rgb(36, 43, 57);
    border: 1px solid rgb(64, 64, 65);
}

:root[data-theme="light"] .langDropdownWrapper {
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
}

:root[data-theme="dark"] .langWrapper:hover{
    background-color: rgba(51, 56, 82, 0.5);
}

:root[data-theme="light"] .langWrapper:hover {
    background-color: rgb(236 240 250);
}

:root[data-theme="dark"] .messagesDropdownWrapper {
    background-color: rgb(36, 43, 57);
    border: 1px solid rgb(64, 64, 65);
}

:root[data-theme="light"] .messagesDropdownWrapper {
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
}

:root[data-theme="dark"] .messageWrapper:hover{
    background-color: rgba(51, 56, 82, 0.5);
}

:root[data-theme="light"] .messageWrapper:hover {
    background-color: rgb(236 240 250);
}

:root[data-theme="dark"] .langName {
    color: white;
}

:root[data-theme="light"] .searchFieldWrapper {
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(236 240 250);
    .searchField {
        background-color: rgb(236 240 250);
        color: rgb(165, 165, 165); 
    }
}

:root[data-theme="dark"] .searchFieldWrapper {
    border: 1px solid rgb(64, 64, 65);
    background-color: rgb(25, 32, 47);;
    .searchField {
        background-color: rgb(25, 32, 47);
        color: rgb(165, 165, 165); 
    }
}

:root[data-theme="light"] .messageWrapper:not(:last-child) {
    border-bottom: 1px solid rgb(223, 223, 223);
}

:root[data-theme="dark"] .messageWrapper:not(:last-child) {
    border-bottom: 1px solid rgb(64, 64, 65);
}

:root[data-theme="light"] .fullname {
    color: black;
}

:root[data-theme="dark"] .fullname {
    color: white;
}

