.toolbarContainerWrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    .icon {
        border-right: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .toolbarWrapper {
        width: calc(100% - 80px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 30px 10px 0px;
        .toolbarLeftPartWrapper {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            .searchFieldWrapper {
                height: 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgb(223, 223, 223);
                border-radius: 20px;
                background-color: rgb(236 240 250);
                padding: 0 15px 0 15px;
                .searchField {
                    background-color: rgb(236 240 250);
                    font-size: 13px;
                    color: rgb(165, 165, 165);
                    border-radius: 20px;   
                    border: none;           // margin: 10px
                    &:focus {
                        outline: none;
                        // border: 1px solid rgba(155, 155, 155, 0.4);
                    }
                }
            }
        }
        .toolbarRightPartWrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            .toolbarItem {
                padding: 10px;
                cursor: pointer;
                .toolbarImageWrapper{
                    border-radius: 50%;
                    background-color: rgb(236 240 250);
                    >img {
                        filter: contrast(160%);
                        width: 100%;
                        border-radius: 50%;
                        opacity: 0.8;
                    }
                }
            }
            .langDropdownWrapper {
                position: fixed;
                top: 60px;
                right: 310px;
                width: 150px;
                height: 170px;
                // border: 1px solid rgb(223, 223, 223);
                border-radius: 5px;
                // background-color: white;
                box-shadow: 0px 1px 1px rgba(0, 0 ,0, .1);
                overflow: auto;
                .langWrapper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 5px 10px 5px 10px;
                    cursor: pointer;
                    .langName {
                        padding-left: 10px;
                        font-size: 12px;
                        font-family: "Open Sans", sans-serif;
                    }
                    // &:hover {
                    //     background-color: rgb(236 240 250);
                    // }
                }
            }
        }
    }
}

:root[data-theme="dark"] .toolbarContainerWrapper {
    background-color: rgb(25, 32, 47);
}

:root[data-theme="light"] .toolbarContainerWrapper {
    background-color: white;
}

:root[data-theme="dark"] .langDropdownWrapper {
    background-color: rgb(36, 43, 57);
    border: 1px solid rgb(64, 64, 65);
}

:root[data-theme="light"] .langDropdownWrapper {
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
}

:root[data-theme="dark"] .langWrapper:hover{
    background-color: rgba(51, 56, 82, 0.5);
}

:root[data-theme="light"] .langWrapper:hover {
    background-color: rgb(236 240 250);
}

:root[data-theme="dark"] .langName {
    color: white;
}
